<table border="0" cellspacing="0" cellpadding="0" align="center" style="width: 100%;max-width: 772px;  background-color: white; font-family: Arial, Helvetica, sans-serif; ">
  <tbody><tr><td>
    <table width="100%" style="border-bottom: 1px solid #ccc;">
      <tr>
        <td width="54">
          <img src="https://smartlifepath.s3-eu-west-1.amazonaws.com/static/logo.png">
        </td>
        <td width="100%" style="font-size: 26px">
          Smart Life Path</td>
        <td></td>
      </tr>
    </table>
    <br>

