{{{ parts.partHeader}}}
<table width="100%">
  <tbody>
    <tr>
      <td style="text-align: center; color: #666666; font-size: 25px">
        Hi {{user.username}}!
      </td>
    </tr>
    <tr>
      <td style="text-align: center; font-size: 29px">
        Welcome to Smart Life Path
      </td>
    </tr>
    <tr>
      <td style="text-align: center; font-size: 18px">
        <br>
        <a style="background-color: #1a73e8; border-radius: 5px;padding: 10px 65px;max-width: 280px;display: inline-block;color: #fff;text-decoration: none;"
    href="https://www.smartlifepath.com/">
          Get Started Now!
        </a>
        <br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;border-bottom: 1px solid #ccc;">
        <img style="max-width:100%" src="https://smartlifepath.s3-eu-west-1.amazonaws.com/static/welcome.png">
        <br>
        <br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;border-bottom: 1px solid #ccc;">
        <p style="font-size: 25px;">Get Started</p>
        <img style="max-width:100%" src="https://smartlifepath.s3-eu-west-1.amazonaws.com/static/getStarted.png">
        <div style="color: #4a5960;font-size: 16px;">Join your local comunity</div>
        <br>
        <img style="max-width:100%" src="https://smartlifepath.s3-eu-west-1.amazonaws.com/static/fund.png">
        <div style="color: #4a5960;font-size: 16px;">Select a fund to sponsor</div>
        <br>
        <img style="max-width:100%" src="https://smartlifepath.s3-eu-west-1.amazonaws.com/static/localOrgs.png">
        <div style="color: #4a5960;font-size: 16px;">Find local organisations</div>
        <br>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <table width="670" align="center" >
          <tbody>
            <tr>
              <td style="text-align: center;">
                <img style="max-width:100%" src="https://smartlifepath.s3-eu-west-1.amazonaws.com/static/calendar.png">
                <p style="color: #4a5960;font-size: 16px;">Find local events</p>
              </td>
              <td style="text-align: center;">
                <img style="max-width:100%" src="https://smartlifepath.s3-eu-west-1.amazonaws.com/static/community.png">
                <p style="color: #4a5960;font-size: 16px;">Connect with other comunities</p>
              </td>
               <td style="text-align: center;">
                <img style="max-width:100%" src="https://smartlifepath.s3-eu-west-1.amazonaws.com/static/friends.png">
                <p style="color: #4a5960;font-size: 16px;">Invite friends</p>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      </td>
    </tr>
  </tbody>
</table>
<div style="border-bottom: 1px solid #ccc;"><br></div>
{{{ parts.partFooter}}}